# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.API.iml
/modules.xml
/contentModel.xml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\hubert.choinski1\Documents\C#Projects\API\.idea\.idea.API\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
